{{define "_nav"}}
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-gopher" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
          <a href="https://github.com/guilycst/gomerch" class="navbar-brand">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/guicas/" class="navbar-brand">
            <i class="bi bi-linkedin"></i>
          </a>
      </div>
    </div>
  </nav>
{{end}}