{{define "_title"}}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/gopher.png');height:55vh">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Go Merch inventory</h1>
                    <h3 class="title text-center">A sample golang MVC application</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}